@import 'bower_components/picnic/src/picnic';
@import 'bower_components/picnic/plugins/nav/plugin';

body {
  display: block;
  color: #333;
  background: #FFF;
  margin: 40px auto;
  width: 100%;
  padding: 10px;
}

table {
  width: 100%;
}

.friend-profile {
  text-align: left;

  img {
    float: left;
    margin: 1em 2em 1em 1em;
  }
}

.friend-profile-links li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
