@import 'bower_components/picnic/src/picnic';
@import 'bower_components/picnic/plugins/nav/plugin';

body {
  display: block;
  color: #333;
  background: #FFF;
  margin: 40px auto;
  width: 100%;
  padding: 10px;
}

table {
  width: 100%;
}
