<nav>
  {{link-to "Borrowers" "index" class="brand"}}

  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">&#9776;</label>

  <div class="menu">
    {{link-to "Dashboard" "index" class="icon-gauge"}}
    {{link-to "Friends" "friends" class="icon-users-1"}}
    {{link-to "New Friend" "friends.new" class="icon-user-add"}}
  </div>
</nav>
